@model ApplicationCore.Models.ReviewDetailsModel
@using ApplicationCore.Contracts.Services
@inject IMovieService movieService

@{
	var MovieID = @Model.MovieId;
}

<div class="container-fluid">
	<div class="row mt-5">
		<div class="col-8 offset-2 shadow p-3 mb-5 rounded">
			<h3>Review Details</h3>
			<hr />
			<div class="row">

				<div class="col-4">
					<img src="@movieService.GetMovieDetails(@MovieID).Result.PosterUrl" style="width:100%" />
				</div>

				<div class="col-7">
					<form asp-action="ReviewMovie">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group py-2">
							<label asp-for="Rating" class="control-label">Rating</label>
							<select class="form-select" aria-label="Rating" asp-for="Rating">
								@if (Model.Rating == 0)
								{
									<option selected>Select Rating...</option>
									@for (int i = 1; i <= 10; i++)
									{
										<option value="@i">@i</option>
									}
								}
								else
								{
									@for (int i = 1; i <= 10; i++)
									{
										@if (i == Model.Rating)
										{
											<option value="@i" selected>@i</option>
										}
										else
										{
											<option value="@i">@i</option>
										}
									}
								}
								@*
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								*@
							</select>
						</div>
						<div class="form-group form-floating py-2">
							<label asp-for="ReviewText" class="control-label">Review</label>
							<textarea class="form-control" placeholder="Leave a review here" asp-for="ReviewText"></textarea>
						</div>

						<div class="form-group py-2">
							<button type="submit" class="btn btn-danger" asp-route-actionId="0" asp-route-movieId="@MovieID">Delete</button>
							<a asp-controller="Movies" asp-action="Details" asp-route-id="@MovieID" class="text-decoration-none">
								<button type="button" class="btn btn-secondary" >Cancel</button>
							</a>
							<button type="submit" class="btn btn-primary" asp-route-actionId="1" asp-route-movieId="@MovieID">Submit</button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}